@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300;400;500;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 20px;
}

body::-webkit-scrollbar-track{
    background-color: rgb(13, 5, 55);
}

body::-webkit-scrollbar-thumb{
    background-color: #79C5FC;
    border-radius: 20px;
    border: 4px solid rgb(13, 5, 55);
}

img{
    padding-top: 5px;
}
 
header{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

ul{
    float: left;
}


.logo{
    cursor: pointer;
}

.center{
    
    margin-left: -500px;
} 

.navc{
    /* list-style: none; */
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    /* text-decoration: none; */
}

.center li{
    display: inline-block;
    padding: 10px 25px;
    text-transform: uppercase;
} 

.center li a{
    transition: all 0.3s ease 0s;
}

.center li a:hover{
    color:#b4ebfd;
}


.simple{
    opacity: 0%;
}

